@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');


*{

box-sizing:border-box;


}

body{
    margin: 0;
}

.containerproject {
    background-color: rgb(31, 16, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    color: white;
    font-family:'Ubuntu', sans-serif;   
    
}

.movie-selector{
    padding:10px 10px;
    margin: 15px;
}

.movie-selector select{
    padding: 3px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

#showcase{
    background-color: rgba(0, 0, 0, 0.747);
    padding:5px 10px;
    border-radius: 5px;
    color: grey;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px
}
#showcase li small{
    margin-left: 2px;

}
.screen{
    height:100px;
    width:100%;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px  rgba(246, 246, 248, 0.959);
    transform: rotateX(-45deg);

    
}

.containermovies{
    perspective: 1000px;

}

.seat{
    background-color: grey;
    width:15px;
    height:12px;
    margin:3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.seat.occupied{
    background-color: white;
    width:15px;
    height:10px;
    margin:3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.seat.selected{
    background-color: rgb(30, 221, 228);
    width:15px;
    height:10px;
    margin:3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.row{
    display: flex;
}
.seat:nth-of-type(2){
    margin-right: 15px;
}

.seat:nth-of-type(7){
    margin-left: 15px;
}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}
#showcase .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}

#notification{
    margin: 30px 0;
}
#notification span{
    color:rgb(20, 181, 230)
}





    
    
    
